extends layout.pug

block head
	if title
		title #{title}
		meta(property='og:title',content=title)
		meta(property='twitter:title',content=title)
	else
		title New card

	if description
		meta(name='description', content=description)
		meta(property='og:description',content=description)
		meta(name='twitter:description',content=description)

	if author
		meta(property='author',content=author)

	if id
		meta(propety='og:image',content='http://home.cyrilannette.fr:4242/images/savedCards/'+id+'.png')
		meta(propety='og:image:type',content='image/png')
		meta(propety='og:image:width',content='400')
		meta(propety='og:image:height',content='560')
		meta(name='twitter:image',content='http://home.cyrilannette.fr:4242/images/savedCards/'+id+'.png')

	meta(property='og:site_name',content="Zougouda's MTG card maker")
	meta(property='og:type',content='article')

block append styles
	link(rel='stylesheet',type='text/css',href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.css')

block append scripts
	script(src='/scripts/main.js')
	script(src='/scripts/class/MagicCard.js')
	script(src='/scripts/class/MagicCardAttribute.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.js')

block content
	div.global-container
		div.editor
			fieldset.caption-container
				legend Illustration
				div
					span Import an image from your computer
					input.uploader(type='file')
				div
					span Or paste an image URL here
					input.uploader-by-url(type='text')
				div.uploaded-image-container
					img.uploaded-image(crossorigin="")
			input.card-title(type='text',placeholder='Name')
			div.mana-cost-container
				input.card-mana-cost(type='text',placeholder='Mana cost')
				div.mana-cost-buttons
			input.card-type(type='text',placeholder='type')
			select.card-rarity-selector
				option.common(value='c') Common
				option.unco(value='u')   Uncommon
				option.rare(value='r')    Rare
				option.mythic(value='m') Mythic rare
			div.power-toughness-container
				input.card-power(type='text',placeholder='Power')
				span.power-toughness-separator /
				input.card-toughness(type='text',placeholder='Toughness')
			div.description-container
				textarea.card-description(placeholder="Description ( Specials tags: <i>italic</i>, <b>bold</b> )")
				div.description-buttons
			input.card-author(placeholder="Author",value="")
			br 
			button(onclick="javascript:currentCard.exportImg()") Download card as image (ctrl+i)
			button(onclick="javascript:currentCard.saveToDatabase()") Save card (ctrl+s)
			button.delete-button(onclick="javascript:currentCard.deleteFromDatabase()") Delete card
		div.preview
			canvas.preview-canvas(width='400',height='560')
