extends layout.pug

block head
	if title
		title #{title}
		meta(property='og:title',content=title)
		meta(property='twitter:title',content=title)
	else
		title New card

	if description
		meta(name='description', content=description)
		meta(property='og:description',content=description)
		meta(name='twitter:description',content=description)

	if author
		meta(property='author',content=author)

	if id
		meta(propety='og:image',content='http://home.cyrilannette.fr:4242/images/savedCards/'+id+'.png')
		meta(propety='og:image:type',content='image/png')
		meta(propety='og:image:width',content='400')
		meta(propety='og:image:height',content='560')
		meta(name='twitter:image',content='http://home.cyrilannette.fr:4242/images/savedCards/'+id+'.png')

	meta(property='og:site_name',content="Zougouda's MTG card maker")
	meta(property='og:type',content='article')

block append styles
	link(rel='stylesheet',type='text/css',href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.css')

block append scripts
	script(src='/scripts/main.js')
	script(src='/scripts/class/GenericCard.js')
	script(src='/scripts/class/MagicCard.js')
	script(src='/scripts/class/HearthstoneCard.js')
	script(src='/scripts/class/GwentCard.js')
	script(src='/scripts/class/CardAttribute.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.js')

block content
	div.global-container
		div.editor
			div.pattern-selector
				img(width='50',src='https://cn.pling.com/img//hive/content-pre1/104822-1.png', onclick='javascript:GenericCard.initCard("magic")', title='Magic the Gathering')
				img(width='50',src='https://www.logolynx.com/images/logolynx/25/25cb1ccb3913a0224fd610ce83bfc4c3.png', onclick='javascript:GenericCard.initCard("hearthstone")', title='Hearthstone')
				img(width='50',src='http://purepng.com/public/uploads/large/purepng.com-the-witcher-logowitcherthe-witcherandrzej-sapkowskiwriterfantasy-serieswitcher-geralt-of-riviawitchersbooksmonster-hunterssupernaturaldeadly-beastsseriesvideo-gamesxbox-1701528661197tz2s1.png', onclick='javascript:GenericCard.initCard("gwent")', title='Gwent')
			fieldset.caption-container
				legend Illustration
				div
					span Import an image from your computer
					input.uploader(type='file')
				div
					span Or paste an image URL here
					input.uploader-by-url(type='text')
				div.uploaded-image-container
					img.uploaded-image(crossorigin="")
			input.card-title(type='text',placeholder='Name')
			div.mana-cost-container
				input.card-mana-cost(type='text',placeholder='Mana cost')
				div.mana-cost-buttons
			input.card-type(type='text',placeholder='type')
			select.card-class-selector
				option.common(value='warrior') Warrior
				option(value='warlock') Warlock
				option(value='shaman') Shaman
				option(value='rogue') Rogue
				option(value='priest') Priest
				option(value='paladin') Paladin
				option(value='monk') Monk
				option(value='mage') Mage
				option(value='hunter') Huntard
				option(value='druid') Druid
				option(value='dk_kotft') Death knight
				option(value='neutral') Neutral
			select.card-border-selector
				option(value='bronze') Bronze
				option(value='silver') Silver
				option(value='gold') Gold
			select.card-faction-selector
				option(value='1') Meutral
				option(value='2') Monsters
				option(value='3') Northern Realms
				option(value='4') Scoiatels
				option(value='5') Skellige
				option(value='6') Nilfgaard
			select.card-row-selector
				option(value='any') Any
				option(value='any_enemy') Any (enemy side)
				option(value='melee') Melee
				option(value='melee_enemy') Melee (enemy side)
				option(value='ranged') Ranged
				option(value='ranged_enemy') Ranged (enemy side)
				option(value='siege') Siege
				option(value='siege_enemy') Siege (enemy side)
			select.card-rarity-selector
				option.common(value='c') Common
				option.unco(value='u')   Uncommon
				option.rare(value='r')    Rare
				option.mythic(value='m') Mythic rare
			input#card-premium.card-premium(type='checkbox')
			label.premium-label(for='card-premium') Premium
			div.power-toughness-container
				input.card-power(type='text',placeholder='Power')
				span.power-toughness-separator /
				input.card-toughness(type='text',placeholder='Toughness')
			div.description-container
				textarea.card-description(placeholder="Description ( Specials tags: <i>italic</i>, <b>bold</b> )")
				div.description-buttons
			input.card-author(placeholder="Author",value="")
			br 
			button(onclick="javascript:currentCard.exportImg()") Download card as image (ctrl+i)
			button(onclick="javascript:currentCard.saveToDatabase()") Save card (ctrl+s)
			button.delete-button(onclick="javascript:currentCard.deleteFromDatabase()") Delete card
		div.preview
			canvas.preview-canvas(width='400',height='560')
