extends layout.pug

block head
	if title
		title #{title}
		meta(property='og:title',content=title)
		meta(property='twitter:title',content=title)
	else
		title New card

	if description
		meta(name='description', content=description)
		meta(property='og:description',content=description)
		meta(name='twitter:description',content=description)

	if author
		meta(property='author',content=author)

	if id
		meta(propety='og:image',content='http://home.cyrilannette.fr:4242/images/savedCards/'+id+'.png')
		meta(propety='og:image:type',content='image/png')
		meta(propety='og:image:width',content='400')
		meta(propety='og:image:height',content='560')
		meta(name='twitter:image',content='http://home.cyrilannette.fr:4242/images/savedCards/'+id+'.png')

	meta(property='og:site_name',content="Zougouda's MTG card maker")
	meta(property='og:type',content='article')

block append styles
	link(rel='stylesheet',type='text/css',href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.css')

block append scripts
	script(src='/scripts/main.js')
	script(src='/scripts/class/GenericCard.js')
	script(src='/scripts/class/MagicCard.js')
	script(src='/scripts/class/HearthstoneCard.js')
	script(src='/scripts/class/GwentCard.js')
	script(src='/scripts/class/YuGiOhCard.js')
	script(src='/scripts/class/CardAttribute.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.js')

block content
	div.global-container
		div.editor
			fieldset.pattern-selector(style='text-align: center;')
				legend(style='text-align: left;') Template
				img(width='50',src='https://cn.pling.com/img//hive/content-pre1/104822-1.png', onclick='javascript:GenericCard.initCard("magic")', title='Magic the Gathering')
				img(width='50',src='https://www.logolynx.com/images/logolynx/25/25cb1ccb3913a0224fd610ce83bfc4c3.png', onclick='javascript:GenericCard.initCard("hearthstone")', title='Hearthstone')
				img(width='50',src='http://purepng.com/public/uploads/large/purepng.com-the-witcher-logowitcherthe-witcherandrzej-sapkowskiwriterfantasy-serieswitcher-geralt-of-riviawitchersbooksmonster-hunterssupernaturaldeadly-beastsseriesvideo-gamesxbox-1701528661197tz2s1.png', onclick='javascript:GenericCard.initCard("gwent")', title='Gwent')
				img(width='50',src='https://cdn3.iconfinder.com/data/icons/7-millennium-items/512/Milennium_Puzzle_Icon_Colored-512.png', onclick='javascript:GenericCard.initCard("yu-gi-oh")', title='Yu-Gi-Oh')
			fieldset.caption-container
				legend Illustration
				div
					span Import an image from your computer
					input.uploader(type='file')
				div
					span Or paste an image URL here
					input.uploader-by-url(type='text')
				div.uploaded-image-container
					img.uploaded-image(crossorigin="")
			fieldset.card-title-container
				legend Title
				input.card-title(type='text',placeholder='Name')
			fieldset.mana-cost-container.gw-off
				legend Cost
				input.card-mana-cost.right-margin-light.ygo-off(type='text',placeholder='Mana cost',)
				div.mana-cost-buttons.hs-off.gw-off.ygo-off
				label.ygo(for='card-level') Level
				input#card-level.card-level.ygo(type='number', min='4', max='10', value='4', placeholder='Level')
			fieldset.card-type-container
				legend Type, class, faction
				input.card-type.right-margin-light.gw-off(type='text',placeholder='Type')
				br.hs
				label.right-margin-light.hs(for='card-class-selector') Class
				select#card-class-selector.card-class-selector.right-margin-light.hs
					option.common(value='warrior') Warrior
					option(value='warlock') Warlock
					option(value='shaman') Shaman
					option(value='rogue') Rogue
					option(value='priest') Priest
					option(value='paladin') Paladin
					option(value='monk') Monk
					option(value='mage') Mage
					option(value='hunter') Huntard
					option(value='druid') Druid
					option(value='dk_kotft') Death knight
					option(value='neutral') Neutral
				label.right-margin-light.gw(for='card-faction-selector') Faction
				select#card-faction-selector.card-faction-selector.right-margin-light.gw
					option(value='1') Meutral
					option(value='2') Monsters
					option(value='3') Northern Realms
					option(value='4') Scoiatels
					option(value='5') Skellige
					option(value='6') Nilfgaard
				br.gw
				label.gw(for='card-row-selector') Row
				select#card-row-selector.card-row-selector.right-margin-light.gw
					option(value='') None
					option(value='any') Any
					option(value='any_enemy') Any (enemy side)
					option(value='melee') Melee
					option(value='melee_enemy') Melee (enemy side)
					option(value='ranged') Ranged
					option(value='ranged_enemy') Ranged (enemy side)
					option(value='siege') Siege
					option(value='siege_enemy') Siege (enemy side)
				br.ygo
				label.right-margin-light.ygo(for='card-template-selector') Template
				select#card-template-selector.card-template-selector.right-margin-light.ygo
					option(value='normal') Monster
					option(value='spell') Spell
					option(value='trap') Trap
				br.ygo
				label.right-margin-light.ygo(for='card-attribute-selector') Attribute
				select#card-attribute-selector.card-attribute-selector.right-margin-lighta.ygo
					option(value='none') None
					option(value='dark') Dark
					option(value='divine') Divine
					option(value='earth') Earth
					option(value='fire') Fire
					option(value='light') Light
					option(value='water') Water
					option(value='wind') Wind
			fieldset.card-rarity-container.ygo-off
				legend Rarity
				select.card-rarity-selector.right-margin-light
					option.common(value='c') Common
					option.unco(value='u') Uncommon
					option.rare(value='r') Rare
					option.mythic(value='m') Mythic rare
				br.gw
				label.gw(for='card-border-selector') Border
				select#card-border-selector.card-border-selector.right-margin-light.gw
					option(value='bronze') Bronze
					option(value='silver') Silver
					option(value='gold') Gold
				br.mtg-off.ygo-off
				label.premium-label.mtg-off.ygo-off(for='card-premium') Premium
				input#card-premium.card-premium.mtg-off.ygo-off(type='checkbox')
			fieldset.power-toughness-container
				legend Power
				input.card-power(type='text',placeholder='Power')
				span.power-toughness-separator.gw-off /
				input.card-toughness.gw-off(type='text',placeholder='Toughness')
			fieldset.description-container
				legend Description, abilities
				div.description-buttons
				textarea.card-description(placeholder="Description ( Specials tags: <i>italic</i>, <b>bold</b> )")
			fieldset.card-author-container
				legend Created by
				input.card-author(placeholder="Author",value="")
			br 
			button(onclick="javascript:currentCard.exportImg()") Download card as image (ctrl+i)
			button(onclick="javascript:currentCard.saveToDatabase()") Save card (ctrl+s)
			button.delete-button(onclick="javascript:currentCard.deleteFromDatabase()") Delete card
		div.preview
			canvas.preview-canvas(width='400',height='560')
