extends layout.pug

block append head
	title Cards list

block append scripts
	script(src='/scripts/paginator.js')

block content
	div.list-cards
		each card in cards
			div.list-card-el.col-max-4(data-card-id=card.id)
				-var containerClassName = '';
				if card.cardPattern == 'magic-transform'
					-containerClassName = 'can-transform'
				else if card.cardPattern == 'magic-split'
					-containerClassName = 'can-split'
				div(class=containerClassName )
					if card.cardPattern == 'magic-transform'
						a(href="/edit-card?id="+card.id) 
							img.untransformed(src="/images/savedCards/"+card.id+".png")
							img.transformed(src="/images/savedCards/"+card.id+"-2.png")
					else
						a(href="/edit-card?id="+card.id) 
							img(src="/images/savedCards/"+card.id+".png")
					if card.author
						span.author by #[a(href="/list-cards?userID="+card.userID) #{card.author}]
					else
						span.author By Anonymous 

					span.favorite
						label Added to favorites
						input.add-to-favorites(type='checkbox')

		div.paginator
			
	script
		if count
			|window.count = #{count};
		if maxPerPage
			|window.maxPerPage = #{maxPerPage}
